.container {
    margin: 250px auto;
    width: 650px;
    min-height: 400px;
    height: auto;
    text-align: center;
    background-color: bisque;
    box-sizing: content-box;
    font-size: 30px;
    color: rgba(28, 68, 10, 0.918);



}

.timer {
    text-align: right;
    font-size: 30px;

}

.answers {
    color: rgb(24, 78, 24);
    font-weight: bold;
    
    
}


    



